body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2;
}

h2 {
    text-align: center;
}

form {
    margin-left: 15px;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu {
    display: flex;
}

.menu h1 {
    text-align: center;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 20px;
    margin-left: auto;
}

.navigation li {
    list-style-type: none;
    font-size: 20px;
    transition: 0.2s;
}

.navigation a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.navigation a:hover {
    color: #23bd5e;;
}

.navigation li:hover {
    transform: scale(1.2);
}

.anchors a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.anchors a:hover {
    color: #23bd5e;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.image {
    margin-bottom: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 400px;
    background-color: #E5E5E5;
    border-radius: 15px;
    padding: 15px;
}

.image img {
    border-radius: 15px;
    margin-top: 10px;
}


input {
    display: block;
    margin-bottom: 10px;
}

.article {
    border: 3px solid #23bd5e;
    margin-bottom: 10px;
    border-radius: 15px;
    transition: 0.2s;
    padding: 15px;
}

.article:hover {
    scale: 1.0005;
}
