@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

p {
    color: #727272;
}

header {
    background-color: #EEEFF1;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.navigation {
    padding-block: 79px;
}

.menu {
    display: flex;
    gap: 48px;
    text-transform: uppercase;
    font-size: 16px;
}

.menu li:hover {
    color: #34547A;
}

header h1 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 60px;
}

header p {
    font-size: 16px;
    width: 50%;
    line-height: 30px;
    margin-bottom: 65px;
}

header button {
    width: 225px;
    height: 65px;
    text-transform: uppercase;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #34547A;
    border: none;
    margin-bottom: 100px;
}

.description .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.working-description .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.working-description {
    padding-top: 100px;
}

.description {
    padding-top: 100px;
}

main h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
}

main p {
    font-size: 16px;
    line-height: 30px;
    width: 540px;
    text-align: center;
}

.projects {
    background-color: #34547A;
}

.my-projects {
    display: flex;
    justify-content: center;
    background-color: #34547A;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 45px;
}

.projects .my-projects li {
    width: 141px;
    height: 50px;
    background-image: url(../images/project-icon.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    color: #FFFFFF;
}

.projects .my-projects li span {
    font-size: 21px;
}

.description p {
    margin-bottom: 100px;
}

.description {
    background-color: #EEEFF1;
}

.working-description p {
    margin-bottom: 100px;
}

.working-video {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 100px;
}

.credits .container {
    display: flex;
    height: 151px;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin-bottom: 0;
}

.credits {
    background-color: #34547A;
}

.credits p {
    color: #FFFFFF;
}

.credits span {
    font-weight: 500;
    font-size: 21px;
}