.body {
    box-sizing: border-box;
}

.mondrian_table {
    border-spacing: 0;
}

td {
    border: 5px solid #000;
    padding: 0;
    width: 100px;
    height: 100px;
}

.sixth_row_cell {
    width: 40px;
}

.yellow_cell {
    background-color: yellow;
}

.red_cell {
    background-color: red;
}

.black_cell {
    background-color: black;
}

.blue_cell {
    background-color: blue;
}