.description,
.working-description{
  padding-top:100px;
}
.description .container,
.working-description .container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.description p,
.working-description p{
  margin-bottom:100px;
}

.description{
  background-color:#EEEFF1;
}

main h2{
  font-size:32px;
  font-weight:500;
  margin-bottom:50px;
}
main p{
  font-size:16px;
  line-height:30px;
  width:540px;
  text-align:center;
}

.projects{
  background-color:#34547A;
}
.projects .my-projects{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  background-color:#34547A;
  padding:100px 0;
  gap:45px;
}
.projects .my-projects li{
  width:auto;
  height:50px;
  background-image:url(../images/project-icon.svg);
  background-repeat:no-repeat;
  background-position:left center;
  padding-left:60px;
  color:#ffffff;
  list-style-type:none;
}
.projects .my-projects li span{
  font-size:21px;
}

.working-video{
  width:100%;
  aspect-ratio:16/9;
  margin-bottom:100px;
}
@font-face{
  font-family:"Roboto";
  font-style:normal;
  font-weight:400;
  src:url("../fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}
.credits{
  background-color:#34547A;
}
.credits .container{
  height:151px;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  padding:50px;
  margin-bottom:0;
}
.credits p{
  color:#ffffff;
}
.credits span{
  font-weight:500;
  font-size:21px;
}

header{
  background-color:#EEEFF1;
}
header h1{
  font-size:48px;
  font-weight:500;
  margin-bottom:60px;
}
header p{
  font-size:16px;
  width:50%;
  line-height:30px;
  margin-bottom:65px;
}
header button{
  width:225px;
  height:65px;
  text-transform:uppercase;
  font-size:16px;
  color:#ffffff;
  background-color:#34547A;
  border:none;
  margin-bottom:100px;
}

.navigation{
  padding-block:79px;
}

.menu{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:48px;
  text-transform:uppercase;
  font-size:16px;
}
.menu li{
  list-style-type:none;
  -webkit-transition:0.2s;
  transition:0.2s;
}
.menu li:hover{
  color:#34547A;
}
*{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:"Roboto", sans-serif;
}

p{
  color:#727272;
}

.container{
  width:100%;
  max-width:1024px;
  margin:0 auto;
  padding:0 16px;
}

@media screen and (max-width: 768px){
  .working-description p{
    width:100%;
  }
  .my-projects{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
  }
  .my-projects li{
    width:auto;
  }
  .description p{
    width:100%;
  }
  .menu{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
  }
  header h1{
    text-align:center;
  }
  header p{
    text-align:center;
    width:100%;
  }
  header button{
    display:block;
    margin:0 auto;
  }
}