@use "variables" as *;

@mixin container {
  width: 100%;
  max-width: $container-max;
  margin: 0 auto;
  padding: 0 16px;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin btn($bg, $color, $w, $h) {
  width: $w;
  height: $h;
  text-transform: uppercase;
  font-size: 16px;
  color: $color;
  background-color: $bg;
  border: none;
}

@mixin responsive-text-center {
  text-align: center;
  width: 100%;
}