.intro {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
        display: flex;
        gap: 35px;
    }

    &_buttons {
        display: flex;
        gap: 10px;
    }

    .login {
        color: #5BB5A2;
        background-color: none;
        border: none;
    }
}