$container-max: 1800px;
$transition-fast: 0.2s;
$text-xsmall: 12px;
$text-small: 14px;
$text-default: 16px;
$text-medium: 18px;
$text-large: 20px;
$text-xlarge: 24px;
$heading-medium: 100px;
$text-h1: 80px;
$text-h2: 64px;
$text-h3: 40px;
$text-h4: 28px;
$text-h5: 20px;
$text-h6: 18px;