* {
    box-sizing: border-box;
}

svg {
    margin-left: 20px;
    margin-top: 20px;
    display: block;
}

.square {
    fill: red;
    stroke-width: 5px;
    stroke: black;
    animation: square 5s infinite;
}

.rectangle {
    fill: yellow;
    stroke-width: 6px;
    stroke: green;
    animation: rectangle 5s infinite;
}

.circle {
    stroke-width: 7px;
    stroke: pink;
    fill: orange;
    animation: circle 5s infinite;
}

.ellipse {
    stroke-width: 8px;
    stroke: darkkhaki;
    fill: cyan;
    animation: ellipse 5s infinite;
}

@keyframes square {
    0% {fill: red; stroke: black; transform: scaleX(1);}
    50% {fill: aqua; stroke: brown; transform: scaleX(2.5);}
    100% {fill: red; stroke: black; transform: scaleX(1);}
}

@keyframes rectangle {
    0% {fill: yellow; stroke: green; transform: scaleX(1);}
    50% {fill: chartreuse; stroke: crimson; transform: scaleX(2.5);}
    100% {fill: yellow; stroke: green; transform: scaleX(1);}
}


@keyframes circle {
    0% {fill: yellow; stroke: green; transform: scaleX(1);}
    50% {fill: chartreuse; stroke: crimson; transform: scaleX(1.75);}
    100% {fill: yellow; stroke: green; transform: scaleX(1);}
}

@keyframes ellipse {
    0% {fill: darkkhaki; stroke: cyan; transform: scaleX(1);}
    50% {fill: goldenrod; stroke: aquamarine; transform: scaleX(0.5);}
    100% {fill: darkkhaki; stroke: cyan; transform: scaleX(1);}
}